body {
  background-color: #20c7d6;
background-image: url('x');
background-repeat: repeat-x;
height: 100%;
padding: 0;
margin: 0;
font-family: Lucida Console;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-size: 20px;

}

.onediv {
  border: 5px outset red;
  text-align: center;
}
